mixin services (imageName, title, text)
  div.services__item
    span.services__photo
      img(src="img/#{imageName}.jpg", alt="img")
    h5.services__title= title
    p.services__text= text
    .btn-group
      a(href="#").btn.btn_nofill.btn_md.btn_center View collection

mixin blog (imgName, title)
  .blog-post
    span.blog-post__date 15<br>June
    a(href="#").blog-post__image
      img(src="img/#{imgName}.jpg" width="250" height="160" alt="img")
    .blog-post__content
      h5.blog-post__title= title
      .blog-post__social
        a(href="#").blog-post__author
          +icon('admin')
          span Admin
        ul
          li
            a(href="#")
              +icon('facebook')
          li
            a(href="#")
              +icon('twitter')
          li
            a(href="#")
              +icon('google')
      a(href="#").blog-post__full Read full article...


mixin top-brand (imgName, title, price)
  .top-brand__item
    a(href="#").top-brand__image
      img(src="img/#{imgName}.jpg" width="250" height="160" alt="img")
    .top-brand__content
      h5.top-brand__title= title
      p.top-brand__price= price
      .top-brand__btn
        button.btn.btn-flag
          +icon('shopping-cart', 'gray_mod')
          | Add to cart
        button.btn.btn-flag.btn-wishlist
          +icon('heart', 'gray_mod')