mixin icon(name, mod)
  - mod = mod || ''
  svg(class="icon icon-" + name + " " + mod)
    use(xlink:href="i/sprite/sprite.svg#" + name)

mixin services (imageName, title, text)
  div.services__item
    span.services__photo
      img(src="img/#{imageName}.jpg", alt="img")
    h5.services__title= title
    p.services__text= text
    .btn-group
      a(href="#").btn.btn-nofill.btn_md.btn_center View collection

mixin catalog (imgName)
  div.catalog__item
    div.catalog__img
      img(src="img/#{imgName}.jpg" width="270" height="340" alt="img")
    button.btn.btn-secondary.btn_sm.btn-cart
      +icon('shopping-cart','gray_mod')
    div.catalog__inner
      span.flags.flags-price
      div.catalog__buttons
        button.btn.btn-secondary.btn_sm
          +icon('view','gray_mod')
        button.btn.btn-secondary.btn_sm
          +icon('heart', 'gray_mod')
        button.btn.btn_sm.btn-fully_main Add to cart
          i
            +icon('shopping-cart','white_mod')


mixin blog (imgName, title)
  .blog-post
    span.blog-post__date 15<br>June
    a(href="#").blog-post__image
      img(src="img/#{imgName}.jpg" width="250" height="160" alt="img")
    .blog-post__content
      h5.blog-post__title= title
      .blog-post__social
        a(href="#").blog-post__author
          +icon('admin')
          span Admin
        ul
          li
            a(href="#")
              +icon('facebook')
          li
            a(href="#")
              +icon('twitter')
          li
            a(href="#")
              +icon('google')
      a(href="#").blog-post__full Read full article...


mixin top-brand (imgName, title, price)
  .top-brand__item
    a(href="#").top-brand__image
      img(src="img/#{imgName}.jpg" width="250" height="160" alt="img")
    .top-brand__content
      h5.top-brand__title= title
      p.top-brand__price= price
      .top-brand__btn
        button.btn.btn-flag
          +icon('shopping-cart', 'gray_mod')
          | Add to cart
        button.btn.btn-flag.btn-wishlist
          +icon('heart', 'gray_mod')